<div class="card">
    <div class="card-header">
        <h2>LogIn</h2>
    </div>
    <form id="loginForm" class="card-body">
        <div>
            <label for="usernameInput">UserName</label>
            <input type="text" id="usernameInput" />
        </div>
        <div>
            <label for="passwordInput" class="form-label">Password</label>
            <input type="text" id="passwordInput" />
        </div>
        <button type="submit" class="btn" id="loginBtn">LogIn!</button>
        <a href="/signup" type="button">SignUp!</a>
    </form>
</div>