<div class="card">
    <div class="card-header">
        <h2>Signup</h2>
    </div>
    <form id="signUpForm" class="card-body">
        <div>
            <label for="usernameInput">UserName</label>
            <input type="text" id="usernameInput" />
        </div>
        <div>
            <label for="passwordInput" class="form-label">Password</label>
            <input type="text" id="passwordInput" />
        </div>
        <button type="submit" class="btn" id="loginBtn">Signup!</button>
        <a href="/login" type="button">LogIn!</a>
    </form>
</div>